<article class="hero-header">
  
  <div class="container container--position">


    <div class="header">

      <div class="header__logo-icon-text">
        <div class="header__logo-icon">
          <svg class="header__logo" width="50" height="50">
            <use href="images/hero-header/icons.svg#icon-logo-1-new"></use>
          </svg>
        </div>
        <p class="header__logo-text">ICECREAM</p>
      </div>
      <button type="button" class="open-menu-btn  js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="open-menu-btn__svg" width="20" height="12">
          <use href="images/icons.svg#icon-burger"></use>
        </svg>
      </button>

    </div>

    <div class="circle"></div>

  </div>
</article>
